body {
    background:url("../images/download.jpeg") no-repeat 0% 0%;
    background-size: cover;
    font-family: "New Roman";
  }

div.overlay {
    background-color:rgba(60, 68, 68, 0.8);
    color:white;
    font-weight: bold;
  }
  
input  {
      color: white;
  }

.overlay {
  /* margin-top: 200px; */
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.card-image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.btn-group {
  /* position: relative; */
  /* display: -ms-inline-flexbox; */
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.greater-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px ;
  margin-bottom: 20px
}

#movie-name {
  text-align: center;
}

.card{
    overflow: visible;
}

.carousel-item img {
  max-width: 200px;
  max-height: 200px;
}

.tabs-content.carousel .carousel-item { height: 100%; }

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item.active {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: coral;
}

a {
  height: 900px;
  width: 650px;
}

.carousel {
  height: 800px;
  perspective: 950px;
  transform: translateY(-100px);
}

.carousel carousel-item {
  width: 7050px;
}

img {
  width: 100%;
  height: 200px;
}

h4 {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}