body {
    background:url("../images/download.jpeg") no-repeat 0% 0%;
    background-size: cover;
    font-family: "New Roman";
  }

div.overlay {
    background-color:rgba(60, 68, 68, 0.8);
    color:white;
    font-weight: bold;
  }
  
input  {
      color: white;
  }

.overlay {
  /* margin-top: 200px; */
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.card-image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.btn-group {
  /* position: relative; */
  display: -ms-inline-flexbox;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.greater-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}